# Q1. List any five functions of the pandas library with execution.

In [4]:
import pandas as pd

In [26]:
df = pd.read_csv('student.csv')

In [27]:
df.head(5)

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [28]:
df.tail(6)

    id         name  class  mark  gender
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [29]:
df.dtypes

id         int64
name      object
class     object
mark       int64
gender    object
dtype: object

In [30]:
df.describe()

              id       mark
count  35.000000  35.000000
mean   18.000000  74.657143
std    10.246951  16.401117
min     1.000000  18.000000
25%     9.500000  62.500000
50%    18.000000  79.000000
75%    26.500000  88.000000
max    35.000000  96.000000

## **Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.**

In [31]:
df = pd.DataFrame({'A':[2,4,5,6],'B':[4,6,8,9],'C':[7,3,2,4]})

In [33]:
df

   A  B  C
0  2  4  7
1  4  6  3
2  5  8  2
3  6  9  4

In [45]:
# With reindex

ls = [i for i in range(1,len(df['A'])*2,2)]

In [48]:
df.reindex(ls)

     A    B    C
1  4.0  6.0  3.0
3  6.0  9.0  4.0
5  NaN  NaN  NaN
7  NaN  NaN  NaN

## **Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.**
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [49]:
df = pd.DataFrame({'Values':[10,20,30,40,50]})

In [50]:
df

   Values
0      10
1      20
2      30
3      40
4      50

In [51]:
def sum(ls):
  sum = 0
  for i in ls[0:3]:
    sum +=i
  return sum

In [52]:
print(sum(df['Values']))

60

## **Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column'Word_Count' that contains the number of words in each row of the 'Text' column.**

In [53]:
df = pd.DataFrame({'Text':['asdfa','asdfdas','dsafs','asdfsadf']})

In [54]:
df

       Text
0     asdfa
1   asdfdas
2     dsafs
3  asdfsadf

In [76]:
df['Word_Count'] = df['Text'].str.len()

In [77]:
df

       Text  Word_Count
0     asdfa           5
1   asdfdas           7
2     dsafs           5
3  asdfsadf           8